{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %} Game Create {% endblock %}
{% block content %}
    <div class="container">
        <h1>Token Mint</h1>
        <form id="token_create_form" class="post-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="save btn btn-primary">Create</button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(document).ready( function () {
            web3.eth.getAccounts().then(e => {
                web3.eth.defaultAccount = e[0]

                addr = $('#token_create_form').find('#id_usr_addr');
                $(addr).val(web3.eth.defaultAccount);
                $(addr).prop('readonly', true);

                if ($('input[name="is_nf"]:checked').val() === "True") {
                    let q_div = $('#id_quantity');
                    q_div.prop("readonly", true);
                    q_div.parent().hide();
                }
                $('input[type="radio"][name="is_nf"]').change(function () {
                    let q_div = $('#id_quantity');
                    if (this.value === 'True') {
                        q_div.prop("readonly", true);
                        q_div.parent().hide();
                    } else {
                        q_div.prop("readonly", false);
                        q_div.parent().show();
                    }
                });
            });
        })

    </script>
{% endblock %}