{% extends 'base.html' %}
{% load static %}
{% block title %} Inventory {% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% include 'dex/partial/game-sidebar.html' with from="profile" %}
            <div class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="row">
                    <div id="inventory" class="col-12">
                        {{ inventory|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'js/ajax.js' %}"></script>
{% endblock %}