<div class="text-center">
    <h1>{{ title }}&nbsp;
        {% if game %}
            <button class="btn btn-sm btn-success mb-2 order-button"
                    data-url="{{ add_url }}?game={{ game }}" data-target="#modal">
                <i class="fa fa-plus"></i>&nbsp;{{ button_title }}
            </button>
        {% endif %}
    </h1>
</div>
<div class="row justify-content-center">
    {% for order in orders %}
        <div class="assetscontentitem border col-md-2 m-2">
            <div style="width: 100%;">
                <a href="{{ detail_url }}{{ order.pk }}">
                    <div class="assetcontenimgdiv">
                        <div class="assetcontenimg">
                            <div style="width: 100%; height: 100%; position: relative;">
                                <img class="assetimg cover"
                                     src="{{ order.obj.img.url }}"
                                     alt=" ">
                            </div>
                        </div>
                    </div>
                </a>
                <div data-wallet="{{ order.usr_addr }}" class="assetname text-center">{{ order.obj.name }}
                    <a type="button" title="Remove" class="text-danger order-button"
                       data-url="{{ delete_url }}{{ order.pk }}"><i class="fas fa-times"></i></a>
                </div>
                <div class="assetvaluediv">
                    <div class="assetvalue text-center">{{ order.value }}&nbsp;ETH</div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>